@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.font-AzeretMono {
  font-family: "AzeretMono", sans-serif;
}

.font-AzeretMonoItalic {
  font-family: "AzeretMonoItalic", sans-serif;
}

.background-colour {
  background-color: rgb(247,247,247);
}

.text-colour {
  color: rgb(11, 200, 99);
}

.item {
  min-height: 40rem;
  min-width: 30rem;
  padding: 40px;
}

.item img {
  width: auto;
  height: 500px;
  pointer-events: none;
}

.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}
