@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.font-AzeretMono {
  font-family: "AzeretMono", sans-serif;
}

.font-AzeretMonoItalic {
  font-family: "AzeretMonoItalic", sans-serif;
}

.background-colour {
  background-color: rgb(233, 217, 211);
}

.hello_image_size {
  width: auto;
  height: 100px;
}

.text-colour {
  color: rgb(189, 0, 101);
}

.item {
  min-height: 40rem;
  min-width: 30rem;
  padding: 40px;
}

.item img {
  width: auto;
  height: 500px;
  pointer-events: none;
}

.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.marquee {
  animation: marquee 90s linear infinite;
}

.marquee2 {
  animation: marquee2 90s linear infinite;
}

.marquee-colour {
  background-color: rgb(255, 255, 255);
}